version: "3"
services:
  testapi:
    container_name: testapi
    build: .
    ports:
      - 4000:4000
    environment:
      MONGOURI: mongodb://mongodb:27017
      REDIS_URI: redis
      REDIS_PORT: "6379"
    networks:
      - mynet  
      
  database:
    container_name: mongodb
    image: mongo
    ports:
      - 27017:27017
    networks:
      - mynet 

  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379
    networks:
      - mynet 
    volumes:
      - redisdata:/data

networks:
  mynet:

volumes:
  redisdata:
