---
name: 01 Basic Dcoker Build

env:
  GKE_CLUSTER: iconica  
  GKE_ZONE: asia-southeast1-a	 
  DEPLOYMENT_NAME: ${{ github.event.repository.name }} 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  build-image:
    name: Build Image
    runs-on: ubuntu-latest
    steps:

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Docker Metadata for Final Image Build
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ format('unknopu/{0}:latest', env.DEPLOYMENT_NAME) }}
          flavor: |
            latest=false
          tags: |
            type=raw,value=04
            type=raw,value=latest,eneble=${{ endsWith(github.ref, github.event.repository.name) }}
            type=ref,event=pr
            type=ref,event=branch
            type=semver,pattern={{version}}          

      - name: Unit Testing in Docker
        run: |
          docker run --rm ${{ github.run_id }} echo "run test"
      
      - name: Docker build & push
        uses: docker/build-push-action@v2
        with:
          push: true
          load: true
          tags: ${{ format('unknopu/{0}:latest', env.DEPLOYMENT_NAME) }}
          platforms: linux/amd64

        